.TeamItem {
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 48px;
    max-width: 30%;
    max-height: 60%;
}

.react-icons {
    padding: 4%;
    width: 20px;
    color: black;
  }

  .img-fluid {
      width: 100%;
      height: 10%;
  }